<ion-app>
  <ion-menu contentId="main" menuId="main-menu" side="start" type="reveal">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="paper-plane"></ion-icon>
          <ion-label>Outbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="heart"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/video']">
          <ion-icon slot="videocam-outline" name="start"></ion-icon>
          <ion-label>Video</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
