<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Petroleum Oil</ion-title>
 </ion-toolbar>
</ion-header>
    <ion-content>
      <ion-list>

      <ion-item [routerLink]="['/fcocif']" routerLinkActive="router-link-active">
        <ion-thumbnail class="ion-margin-end">
          <img src="assets/p1.jpg" />
        </ion-thumbnail>
       <h6>FCO ONLINE FOR CIF AND FOB</h6>
      </ion-item>

      <ion-item [routerLink]="['/fco-m']" routerLinkActive="router-link-active">
        <ion-thumbnail class="ion-margin-end">
          <img src="assets/p2.jpg" />
        </ion-thumbnail>
        <h6>FCO MALAYSIA OIL</h6>
      </ion-item>

      <ion-item [routerLink]="['/dieseld2']" routerLinkActive="router-link-active">
        <ion-thumbnail class="ion-margin-end">
          <img src="assets/dieseld2.png" />
        </ion-thumbnail>
        <h6>DIESEL D2</h6>
      </ion-item>

      <ion-item [routerLink]="['/mazut100']" routerLinkActive="router-link-active">
        <ion-thumbnail class="ion-margin-end">
          <img src="assets/mazut100.jpg" />
        </ion-thumbnail>
        <h6>MAZUT M100</h6>
      </ion-item>

      <ion-item [routerLink]="['/gasoline']" routerLinkActive="router-link-active">
        <ion-thumbnail class="ion-margin-end">
          <img src="assets/gasoline.jpg" />
        </ion-thumbnail>
        <h6>GASOLINE</h6>
      </ion-item>

      <ion-item [routerLink]="['/hsd']" routerLinkActive="router-link-active">
        <ion-thumbnail class="ion-margin-end">
          <img src="assets/hsd.png" />
        </ion-thumbnail>
        <h6>HSD DIESEL 50PPM</h6>
      </ion-item>

      <ion-item [routerLink]="['/jp54']" routerLinkActive="router-link-active">
          <ion-thumbnail class="ion-margin-end">
            <img src="assets/jp54.jpg" />
          </ion-thumbnail>
          <h6>JP54</h6>
        </ion-item>

          <ion-item [routerLink]="['/jeta1']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/jeta1.jpg" />
            </ion-thumbnail>
            <h6>JET A1)</h6>
          </ion-item>

          <ion-item [routerLink]="['/dieselen590']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/en590.jpg" />
            </ion-thumbnail>
            <h6>DIESEL EN590</h6>
          </ion-item>

          <ion-item [routerLink]="['/dieseld6']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/dieseld6.jpg" />
            </ion-thumbnail>
            <h6>DIESEL D6</h6>
          </ion-item>

          <ion-item [routerLink]="['/lpg']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/lpg.jpg" />
            </ion-thumbnail>
            <h6>LPG</h6>
          </ion-item>

          <ion-item [routerLink]="['/lng']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/lng.jpg" />
            </ion-thumbnail>
            <h6>LNG</h6>
          </ion-item>

          <ion-item [routerLink]="['/urea']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/urea.jpg" />
            </ion-thumbnail>
            <h6>UREA</h6>
          </ion-item>

          <ion-item [routerLink]="['/baseoils']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/baseoil.jpg" />
            </ion-thumbnail>
            <h6>BASE OILS</h6>
          </ion-item>

          <ion-item [routerLink]="['/petcoke']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/petcoke.jpg" />
            </ion-thumbnail>
            <h6>PETCOKE</h6>
          </ion-item>

          <ion-item [routerLink]="['/bitumen']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/bitumen.jpg" />
            </ion-thumbnail>
            <h6>BITUMEN
            </h6>
          </ion-item>

          <ion-item [routerLink]="['/crudeoil']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/crudeoil.jpg" />
            </ion-thumbnail>
            <h6>CRUDE OIL
            </h6>
          </ion-item>

          <ion-item [routerLink]="['/bank']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/bankdocument.jpg" />
            </ion-thumbnail>
            <h6>BANK DOCUMENTS
            </h6>
          </ion-item>

          <ion-item [routerLink]="['/commission']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/commission.jpg" />
            </ion-thumbnail>
            <h6>COMMISSION & TERMS
            </h6>
          </ion-item>

          <ion-item [routerLink]="['/shipping']" routerLinkActive="router-link-active">
            <ion-thumbnail class="ion-margin-end">
              <img src="assets/shipping.jpg" />
            </ion-thumbnail>
            <h6>SHIPPING & MARINE
            </h6>
          </ion-item>
      
    </ion-list> 
    
    <ion-footer >
      <ion-toolbar color="primary">
        <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
      </ion-toolbar>
    </ion-footer>
    </ion-content>

