<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">HSD DIESEL 50PPM</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
  
    <ion-text color="dark">
      <h5 class="ion-text-center">HSD2 (HIGH SPEED DIESEL) 50PPM</h5>
    </ion-text>

    <p style="text-align: justify;">Hi-Speed Diesel contains detergents that enhance combustion through a process of cleaning up of fuel injectors that are blocked with harmful deposits. This improves spray pattern
       and prevents the injectors from “dribbling” with diesel. These detergents not only clean the injectors but also
        prevent the formation of new deposits making it work as good as new, every time HSD is normally used as a fuel
         for high speed diesel engines operating above 750 r.p.m. i.e. buses, lorries, generating sets, locomotive,
          pumping sets etc. Gas Turbines requiring distillate fuels normally make use of HSD as fuel.</p>

    <p style="text-align: justify;">In the EU, Australia, Asia, Canada, and the USA, there is a defined oil consistency and name for the product “Diesel Fuel” 
      and it is backed by a ‘standard’, as defined by the American Petroleum Institute, and others.</p>
    <p style="text-align: justify;">In Canada, there is traditional “Diesel”, and it must by law follow the specifications as set out in the regulations.</p>
    <p style="text-align: justify;">There is also, a “Super diesel”;, but it exceeds the basic ‘standard’, but there is no definition on how or why it exceeds the ‘standard’.</p>
    <p style="text-align: justify;">Notice, I have not written “Super diesel”, with a Capital Letter on the name diesel. The name for the product only starts with a Capital on the first word, and the second is the base word.
       This is different than the engine patented by Rudolph Diesel, his last name.</p>
    <p style="text-align: justify;">The product in the refineries is referred to the grouping of “middle distillates’, since this is where the temperature of the vapour condenses, and is pumped out to the cooling tanks and further
       processing for emissions compliance (ultra=low sulphur, <50ppm).</p>
    <p style="text-align: justify;">For industrial engines, a lower grade of fuel is used, since the engines have larger bore sizes of 20 litres or more, and can use a heavier 
      oil, known as ‘bunker oil’ in some journals.</p>
    <p style="text-align: justify;">The use of the term ‘high speed’ is marketing department speak for something that is already defined.
       It is meaningless in a fuel context.</p>
    <p style="text-align: justify;">Hi-speed diesel have good cetane number 56-60 whereas normal diesel have cetane number ranging from 45-55. So, hispeed diesel 
      have better combustion thereby achieving good performance as well as cleaner emissions. Now a days, hispeed diesel have special additives that even cleans the carbon deposits on fuel injector.</p>
    </div>
    </ion-card>

    <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
      <img src="assets/purchase.png">
      <ion-text color="dark">
        <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
      </ion-text>
    </ion-card>
    
  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
