<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Bitumen</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <div class="ion-padding">

  <ion-text color="dark">
    <h5 class="ion-text-center">Bitumen or Asphalt</h5>
  </ion-text>
  <p style="text-align: justify;">It is a sticky, black, and highly viscous liquid or semi-solid form of petroleum. It may be found in natural deposits or may be a refined product, and is classed as a pitch. Before the 20th century, the term asphaltum was also used.</p>
  <p style="text-align: justify;">The primary use (70%) is in road construction, where it is used as the glue or binder mixed with aggregate particles to create asphalt concrete. Its other main uses are for bituminous waterproofing products, including production of roofing felt and for sealing flat roofs.</p>
  <p style="text-align: justify;">The terms “asphalt” and “bitumen” are often used interchangeably to mean both natural and manufactured forms of the substance. In American English, “asphalt” (or “asphalt cement”) is commonly used for a refined residue from the distillation process of selected crude oils. Outside the United States, the product is often called “bitumen”, and geologists worldwide often prefer the term for the naturally occurring variety. Common colloquial usage often refers to various forms of asphalt as “tar”, as in the name of the La Brea Tar Pits.</p>
  <p>The components of asphalt include four main classes of compounds:</p>
  <p>Naphthene aromatics (naphthalene), consisting of partially hydrogenated polycyclic aromatic compounds</p>
  <p>Polar aromatics, consisting of high molecular weight phenols and carboxylic acids produced by partial oxidation of the material</p>
  <p>Saturated hydrocarbons; the percentage of saturated compounds in asphalt correlates with its softening point</p>
  <p>Asphaltenes, consisting of high molecular weight phenols and heterocyclic compounds</p>
  <p style="text-align: justify;">The naphthene aromatics and polar aromatics are typically the majority components. Most natural bitumens also contain organosulfur compounds, resulting in an overall sulfur content of up to 4%. Nickel and vanadium are found at less 10 parts per million, as is typical of some petroleum.</p>
  <p style="text-align: justify;">The substance is soluble in carbon disulfide. It is commonly modelled as a colloid, with asphaltenes as the dispersed phase and maltenes as the continuous phase. “It is almost impossible to separate and identify all the different molecules of asphalt, because the number of molecules with different chemical structure is extremely large”.</p>
  <p style="text-align: justify;">Asphalt may be confused with coal tar, which is a visually similar black, thermoplastic material produced by the destructive distillation of coal. During the early and mid-20th century, when town gas was produced, coal tar was a readily available byproduct and extensively used as the binder for road aggregates. The addition of coal tar to macadam roads led to the word “tarmac”, which is now used in common parlance to refer to road-making materials. However, since the 1970s, when natural gas succeeded town gas, asphalt has completely overtaken the use of coal tar in these applications. Other examples of this confusion include the La Brea Tar Pits and the Canadian oil sands, both of which actually contain natural bitumen rather than tar. “Pitch” is another term sometimes informally used at times to refer to.</p>
  </div>
  </ion-card>

  <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
    <img src="assets/purchase.png">
    <ion-text color="dark">
      <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
    </ion-text>
  </ion-card>
  
  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
