<ion-header>
      <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
     <ion-title class="ion-text-center">About</ion-title>
     </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="medium">
      <div id="container"></div>
      <img src="../assets/about1.jpg" />
        <h1 style="width: 100%; text-align: center; color: black;">INTRODUCTION</h1>
        <h5 style="text-align: justify;">GNGROUP is based in Kuala Lumpur, Malaysia, Indonesia and Singapore. The operations are mainly concentrated in Europe, the United States, Asia and Southeast Asia, Thailand, Myanmar, Cambodia, Laos, Vietnam, the Philippines, and Indonesia.</h5>
        <h5 style="text-align: justify;">Having the right product for our customers at the right time does not happen by chance. Responsive supply, distribution and planning groups enable GNGROUP to be in good standing to respond to unexpected changes in the marketplace, enhancing commercial advantages in robust marketing systems and expanding sales volumes.</h5>
        <h5 style="text-align: justify;">GNGROUP have been established with a major focus on the trading of crude oil originated from Russian Europe and East of Middle. GNGROUP management is very experienced in the marketing of various types of oil models. At present, GNGROUP receives millions of Metric Ton of demand from some Southeast Asian customers. GNGROUP is a private group of companies united by a single strategy and vision.</h5>
        <h5 style="text-align: justify;">We work with partners from Russia, Turkey, UK, Dubai, Philippines, Indonesia, Singapore, and Malaysia. Our customers operate in marine bunkering industry, power generation, automotive industry, printing, and trade. Our top priorities are high reliability and professionalism in high-risk projects, individual and non-standard approach, high effectiveness.</h5>
        <h5 style="text-align: justify;"></h5>

        <ion-footer >
          <ion-toolbar color="primary">
            <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
          </ion-toolbar>
        </ion-footer>
    </ion-content>
