<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Diesel EN590</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
  
    <ion-text color="dark">
      <h5 class="ion-text-center">EN-590 DIESEL (ULTRA LOW SULPHER DIESEL)</h5>
    </ion-text>
    <p style="text-align: justify;">EN590 describes the physical properties that all automotive diesel fuel must meet if it is to be sold in the European Union, Croatia, Iceland, Norway and Switzerland.</p>
    <p style="text-align: justify;">The EN 590 had been introduced along with the European emission standards. 
      With each of its revisions the EN 590 had been adapted to lower the sulphur content of diesel fuel – since 2007 this is called ultra low sulphur diesel as the former function of sulphur as a lubricant is absent (and needs to be replaced by additives).</p>
    <p style="text-align: justify;">The quality of European diesel fuels is specified by the EN 590 standard. While these specifications not are mandatory, they are observed by all fuel suppliers in Europe.</p>
    <p style="text-align: justify;">Automobile diesel en 590 is intended for application in diesel engines. Diesel motor fuel quality meets the requirements of
       European Standard EN 590. For operation in the conditions of a temperate climate following marks of 
       fuel diesel automobile EN 590 are offered: Grade C – limiting filterability temperature -5 ° C; Grade D
        – limiting filterability temperature -10 ° C; Grade E – limiting filterability temperature – 15 ° C; Grade F – limiting filterability temperature -20 ° C. The entire volume of produced diesel fuel quality 
        meets the requirements for fuels for vehicles of Euro 4 and Euro 5. Low sulfur content in diesel EN 590 reduces emissions of sulfur oxides into the atmosphere, which is especially important for for inhabitants of big cities.</p>

        <h6 class="ion-text-center">Ultra-low-sulfur diesel (ULSD)</h6>
        <p style="text-align: justify;">Ultra-low-sulfur diesel (ULSD) is diesel fuel with substantially lowered sulfur content. As of 2006, almost all of the petroleum-based diesel fuel available in
           Europe and North America is of a ULSD type. There is not a single standard set of specifications and as the government mandated standard becomes progressively more strict so does the definition.</p>
        <p style="text-align: justify;">The move to lower sulfur content is expected to allow the application of newer emissions control technologies that should substantially lower emissions of particulate
           matter from diesel engines. This change occurred first in the European Union and is now happening in North America. New emissions standards, dependent on the cleaner fuel, have been in effect for automobiles in theUnited States since model year 2007.</p>
        <p style="text-align: justify;">ULSD has a lower energy content due to the heavy processing required to remove large amounts of sulfur from oil, leading to lower fuel economy. Using it requires more costly oil.  European UnionIn the European Union, the
           “Euro IV” standard has applied since 2005, which specifies a maximum of 50 ppm of sulfur in diesel fuel for most highway vehicles; ultra-low-sulfur diesel with a maximum of 10 ppm of sulfur must “be available” from 2005 and was widely available as of 2008. 
           A final target (to be confirmed by the European Commission) of 2009 for the final reduction of sulfur to 10 ppm, which will be considered the entry into force of the Euro V fuel standard. In 2009, diesel fuel for most non-highway applications is also 
           expected to conform to the Euro V standard for fuel. Various exceptions exist for certain uses and applications, most of which are being phased out over a period of several years. In particular, the so-called EU accession countries(primarily in Eastern Europe), 
           have been granted certain temporary exemptions to allow for transition. Certain EU countries may apply higher standards or require faster transition. For example,Germany implemented a tax incentive of per litre of “sulphur free” fuel (both gasoline and diesel) 
           containing less than 10 ppm beginning in January 2003 and average sulphur content was estimated in 2006 to be 3-5 ppm. Similar measures have been enacted in most of the Nordic countries, Benelux, Ireland and the United Kingdom to encourage early adoption of the 50 ppm and 10 ppm fuel standards.</p>
    </div>
    </ion-card>
    
    <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
      <img src="assets/purchase.png">
      <ion-text color="dark">
        <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
      </ion-text>
    </ion-card>

  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
