<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Mazut 100</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
  
    <ion-text color="dark">
      <h5 class="ion-text-center">Mazut M100, 280CST & 380CST</h5>
    </ion-text>

    <p style="text-align: justify;">Mazut is a vicious, dark and heavy fuel oil, which is used as a form of commercial 
      fuel. It is mostly used in generating plants and factories.</p>

    <p style="text-align: justify;">In the United States of America and Europe, It is also used for the production of diesel. In Russia and other Eastern countries,
       it’s used for heating houses.</p>

    <p style="text-align: justify;">The oil is extremely attractive to consumers due to the economical price of the product, the availability and the ease of refining the crude forms of it.
       M100 GOST is also manufactured to GOST specifications.</p>

    <p style="text-align: justify;">The high BTU (British thermal unit) content makes it ideal for larger boilers in producing steam. It is especially remarkable for 
      the amount of energy it generates. It can be compared to Number 6 Oil, it’s part of the products left over after gasoline and lighter compounds are evaporated from the oil.</p>

    <p style="text-align: justify;">It is almost exclusively manufactured in the Iran, Russian Federation, Kazakhstan, Azerbaijan, and Turkmenistan.
       This product is typically used for larger boilers in producing steam since the BTU content is high. The most important consideration 
       (not the only consideration) when grading this fuel is the sulfur content, which can mostly be affected by the source feedstock. For shipment purposes, 
       this product is considered a “dirty oil” product, and because viscosity drastically affect whether it is able to be pumped, shipping has unique requirements.</p>

    <p style="text-align: justify;">The main difference between the different types of Mazut–100 is the content of sulphur. The grades are represented by these sulfuric levels:
       • ”Very Low Sulphur” is with a sulphur content of 0.5% • ”Low Sulphur” is a Mazut with a sulphur content of 0.5–1.0% • ”Normal Sulphur” is a mazut with a sulphur content of 1.0–2.0% • ”High Sulphur” with a sulphur content of 2.0–3.5%.</p>
<p>Properties Of Mazut-100</p>
    <p style="text-align: justify;">Mazut is the residue from distillation of gasoline, ligroine, kerosene, and diesel oil fractions from petroleum. Mazut may be used as boiler fuel oil,
       in the preparation of distillate and residual lubricating oils, in cracking or hydrogenation processes for the manufacture of motor fuel (gasoline or diesel oil), and in the
        production of bitumen and coke, depending on its chemical composition and properties.</p>

    <p style="text-align: justify;">The mazut used for fuel in gas turbines must have the lowest ash content (the ash must contain no more than 0.001 percent vanadium and 0.0005 percent sodium, which are particularly harmful
       elements in terms of corrosion).</p>

       <div>Other Kinds Of Mazut</div>
       <div>Fuel Oil CST 180</div>
       <div>Fuel Oil CST 380</div>
       <div>Low Sulphur Fuel Oil</div>
       <div>Low Viscosity Fuel Oil</div>
       <div>Specifications& Characteristics</div>

  </div>
  </ion-card>

  <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
    <img src="assets/purchase.png">
    <ion-text color="dark">
      <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
    </ion-text>
  </ion-card>

  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
