<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">UREA 46%</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
  
    <ion-text color="dark">
      <h5 class="ion-text-center">UREA 46% GRANULAR</h5>
    </ion-text>
    <p style="text-align: justify;">Granular Urea is white crystalline solid containing 46% nitrogen. It has the highest nitrogen content of any solid nitrogen fertilizer. Granular urea can be applied directly to the soil while using normal spreading equipment. Most of today‘s urea is manufactured as granules. Granules are harder, larger, and more resistant to moisture. Therefore, granulated urea has become a more commonly used material for fertilizer blends. Additionally, urea is an important raw material for many manufacturers of other products and is a major raw material for melamine.</p>
    <p style="text-align: justify;">The physical specification of Urea is non–clotted 100% free from harmful substances, free floating, treated with anti–caking treatment, free from impurities, sand, dust and certified non radioactive. PH value 8.0–8.5, float-ability/water sinks and mixes.</p>
    <p>Usage</p>
    <p style="text-align: justify;">More than 90% of world industrial production of Urea is destined for use as a nitrogen–release fertilizer. Urea has the highest nitrogen content of all sold nitrogen content of all solid nitrogenous fertilizers in common use. Therefore, it has the lowest transportation costs per unit of nitrogen nutrition. The standard crop–nutrient rating of urea is 46–0–0. The most common impurity of synthetic urea is Biuret, which impairs plant growth.</p>
    <p style="text-align: justify;">Urea is usually spread at rates of between 40 and 300 Kg./HA but rates vary. Smaller applications incur lower losses due to leaching. During summer, urea is often spread just before or during rain to minimize losses from volatilization. A process wherein nitrogen is lost to the atmosphere as ammonia gas).</p>
    <p style="text-align: justify;">Because of the high nitrogen concentration in urea, it is very important to achieve an even spread. The application equipment must be correctly calibrated and properly used.</p>
    <p style="text-align: justify;">Urea is chemically the same as Granular Urea. Its the most popular and economical of all nitrogenous fertilizers being used worldwide. The 46% nitrogen content of Urea is an ideal source of nitrogen for agriculture. Urea needs to be applied several times during the growing season, unlike phosphate and potassium fertilizers, which usually require a single application. Urea is an organic compound because it contains carbon. Prilled Urea is commonly used in agriculture as nitrogen rich filler.</p>
    </div>
    </ion-card>

    <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
      <img src="assets/purchase.png">
      <ion-text color="dark">
        <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
      </ion-text>
    </ion-card>
  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
