<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Blacklist</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
  <img src="assets/black.jpg">
    <ion-text color="dark">
      <div class="ion-text-center">BLACKLIST OF PETROLEUM OILS “BUYERS” OR “SUPPLIER” OR “PROVIDER” OR “AGENT”</div>
    </ion-text>
    </div>
  </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: AL SAIDIYA TRADING L.L.C</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text> HUMAID S AL HAMRASHD</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text> 3776337</p>
        <p><ion-text color="success">COUNTRY:</ion-text> OMAN</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text> TRO/NG456HD12/JPA1/06/10/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text> OCTOBER 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text> FAILED TO COMPLETE THE TANK FARM PAYMENTS</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: ACACIA ENERGY GROUP LTD</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>JAMES W. HEAD</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>10767397</p>
        <p><ion-text color="success">COUNTRY:</ion-text>SWITZELAND</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>AVML/AEG/NL8873</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>OCTOBER 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text> FAILED TO COMPLETE THE TANK FARM PAYMENTS</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: ARROWONE RESOURCES PTE. LTD</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>LIONEL CHEOW</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>10767397</p>
        <p><ion-text color="success">COUNTRY:</ion-text>SINGAPORE</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-AR/SPA/HHISMAW/7/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>MARCH 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: ABAR ALSHARQ ALAWSAT LEL PETROL F.Z.E</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>AWADH M ALAMERI</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>F59K93114</p>
        <p><ion-text color="success">COUNTRY:</ion-text>UAE</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNGROUP-AAALP/SPA-D2/1226/12/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>DECEMBER 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: ABAR ALSHARQ ALAWSAT LEL PETROL F.Z.E (SECOND BLACKLIST)</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>AWADH M ALAMERI</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>F59K93114</p>
        <p><ion-text color="success">COUNTRY:</ion-text>UAE</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-AAAL/0212/SPA/RD2/CIF/II/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>FEBRUARY 2019</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUANTEE TO SELLER (SECOND BLACKLIST)</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: BENGI GRUP</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>ONUR CEKEN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>U07721376</p>
        <p><ion-text color="success">COUNTRY:</ion-text>TURKEY</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GN-BG/HG57822NBCDS/2017-18</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JANUARY 2019</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: BIG STAR CARGO SERVICES</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MR. FORBES MAGADU</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>BN501513</p>
        <p><ion-text color="success">COUNTRY:</ion-text>ZIMBABWE</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>BSCS/GNG-TZOL/SPA-01-2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>MEI 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: DUQM BLUE STAR LLC</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MANSOUD FARZAMILAR</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>T34500349</p>
        <p><ion-text color="success">COUNTRY:</ion-text>IRAN/OMAN</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-HNM/TRO-SGD45GDH4784CC/OCT/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>DECEMBER 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: CEBU DE ORO PETROLIO & ENTERPRISES CORPORATION</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>ENGR. RODOLFO C. PITOGO</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>EC0960485</p>
        <p><ion-text color="success">COUNTRY:</ion-text>PHILIPPINES</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>CEDOP/GNG/00</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>MEI 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: GRAND ASIA PLUS CO. LTD.</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>OSMAN BIN OMAR</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>A34254935</p>
        <p><ion-text color="success">COUNTRY:</ion-text>MALAYSIA/THAILAND</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GAPCL/GNG-PKS/SPA-01-2016/17</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JANUARY 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: GOLDEN PROSPEROUS LAND PTE LTD</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MR. KWAN NAING SOE</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>ME534383</p>
        <p><ion-text color="success">COUNTRY:</ion-text>MYANMAR</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-GPL/2309/EURO4/RUMYBUR/12-2019
          RN- KMKY/PTMSB/EN590-0664/19</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>05 JANUARY 2020</p>
        <p><ion-text color="success">REMARKS:</ion-text>ASK FOR 3% PB BEFORE PROVIDES LC AND ABUSES THE CONTRACT SPA</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: KOPERASI WIDYATAMA UNIVERSITAS PERTAHANAN</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>DRS. T. CHRISTIAN LB</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>NIL</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-KWUP/SPA-0311/MD2-50K/03/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>MARCH 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: KOPERASI JAYA TANI MALAYSIA BERHAD</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MS. VIMAL JAYABALAN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>A36467319</p>
        <p><ion-text color="success">COUNTRY:</ion-text>MALAYSIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-KJTMB/UR/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>NOVEMBER 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: LUOYANG XINGSHUAIYU IMP & EXPORT TRADING CO., LTD.</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>ZHANG FENGSHEN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>NIL</p>
        <p><ion-text color="success">COUNTRY:</ion-text>LUOYANG, TIONGKOK</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-LX/0214/SPA/PETCOKE/CIF/II/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>FEBRUARY 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: MIN HUA FOUNDATION</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>ROSSAHIZAM BIN MAT SAKIN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>760423086603</p>
        <p><ion-text color="success">COUNTRY:</ion-text>MALAYSIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>1729901 / SBLC</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JUNE 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: NAZA SHIPPING PTE LTD</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>ZAINOL BIN SHAIK FAREED</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>E3587425K</p>
        <p><ion-text color="success">COUNTRY:</ion-text>SINGAPORE</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GN/D2/DEC1217</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>DECEMBER 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: O’CARROLL MARINE FZC</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>CAPT. MARK O’CARROLL</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>LT7027318</p>
        <p><ion-text color="success">COUNTRY:</ion-text>U.E.A</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>TRO/NCVD345BXZNV/JA1/01/06/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JULY 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. SINAR MUTIARA MULYA</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>SOFIUDIN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>B7423629</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>1441/SMM/ICPO/VII/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JULY 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. TAWU INTI BUMI</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>AHMAD MALIK</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>B1214702</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>PTTIB/GNG/SPAGNG/06-2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JUNE 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: MIN HUA FOUNDATION</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>ROSSAHIZAM BIN MAT SAKIN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>760423086603</p>
        <p><ion-text color="success">COUNTRY:</ion-text>MALAYSIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>1729901 / SBLC</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JUNE 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. KEITO PONJOT ENERGI</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>DEDIE RACHAJU</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>B1753742</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>161104/GNG-PTBC/2016</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>NOVEMBER 2016</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. TANIA BERSAUDARA</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MUHAMMAD ANDI ABDUL GANI SH</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>01/002/1-2/2015</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>01/002/1-2/2015</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>MARCH 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. KARYA NATAMA BATAM (KNB)</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>IKSAN TAUFIK</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>B1127335</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>PTKNB/GNG-PKS/SPA-01-2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JANUARY 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. SAMUDERA TANKER INTERNASIONAL</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>ENDANG WAHYULI</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>NIL</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>PET/GNGROUP/PT.STIB/2017/RD2</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>JUNE 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT TIGA KURNIAWAN JAYA</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>SYARIF KURNIAWAN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>9109010409730004</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-PTBC/SCO/D2/11/2016</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>OCTOBER 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT CAHAYA MENARA GADING</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>IRA HUMAIRA</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>PT/001/GN-17</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>WCEB/GNG/D2/10K/TTO/10282016</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>OCTOBER 2016</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. INDO ASIA ENERGI</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MS. IGA EKAWILAWATI LAKSMI / MR. WIJAYA</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>NIL</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-PTIAED/SPA/CIF/0201/2/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>FEBRUARY 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. BIRKIN INDONESIA</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>TOTO SUHARTO</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>NIL</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-PT-BI/SPA-MD2/0411/4/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>APRIL 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. HARTA BUMI RESOURCE PTE. LTD</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MS. LILI PHUAH</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>NIL</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-PTHRB/0320/MD2/03/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>MARCH 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. GEMILANG TRYMO MULYATAMA</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MS. DIAN AYU PURNOMORINI / MR. ADITYA M</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>NIL</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>PET/ GNGROUP/DGFH454/2016/RD2</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>DECEMBER 2016</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. TANINDO MULIA TAMA</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>PIUS ANAKLETUS BWARIAT</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>321705270873002</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-TMT/SPA/0125/MD2/CIF/I/2018  </p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>DECEMBER 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT. PETRO T&C INTERNASIONAL</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>DR. IWAN RATMAN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>B6965108</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNGROUP-PTC/1120/SPA/E2M/FOB/11/2017</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>NOVEMBER 2017</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: PT MEZZO SDN. BHD.</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>NANI BIN OMAR / DATO JUNAINIS BIN MATROP</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>A37952327 / 680202045051</p>
        <p><ion-text color="success">COUNTRY:</ion-text>MALAYSIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>RN- KMKY/PTMSB/EN590-0664/19</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>2020 JANUARY 24</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
    
    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: SUNG GWANG CO. LTD.</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>CHEONG KIWOONG</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>M01163289</p>
        <p><ion-text color="success">COUNTRY:</ion-text>KOREA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-SG/0205/SPA/EN590/CIF/I/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>FEBRUARY 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: SUNG GWANG CO. LTD. (SECOND BLACKLIST)</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>CHEONG KIWOONG</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>M01163289</p>
        <p><ion-text color="success">COUNTRY:</ion-text>KOREA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-SG/0327/SPA/RD2/CIF/III/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>FEBRUARY 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER (SECOND BLACKLIST)</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: MANDATE TO LIAONING XIN LI CHEN OIL CHEMICAL CO. LTD.</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MIRANDA ALPHA ALRIJANTO </p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>B7227464</p>
        <p><ion-text color="success">COUNTRY:</ion-text>INDONESIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-XLC/0403/FCO-MD2/FOB/IV/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>APRIL 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: MANDATE TO LIAONING XIN LI CHEN OIL CHEMICAL CO. LTD.</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>WEN YAU BRANDON WU</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>314856030</p>
        <p><ion-text color="success">COUNTRY:</ion-text>TAIWAN</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-XLC/0403/FCO-MD2/FOB/IV/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>APRIL 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: SEAMOVE LINES & STORAGE (M) SDN. BHD</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MR. VIJAYAN / MDM. NAGALACHUM</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>A38629396 / NIL</p>
        <p><ion-text color="success">COUNTRY:</ion-text>MALAYSIA</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>TRO/NCVD345BXZ/D2/11/05/2018</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>MAY 2018</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE THE SHIPPING COMPANY PAYMENTS</p>   
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-padding">
      <ion-text color="dark">
        <h5 class="ion-text-center">COMPANY NAME: TREASURE LAND ASIA INVESTMENT CO. LTD</h5>
      </ion-text>
        <p><ion-text color="success">REPRESENTATIVE:</ion-text>MR. THAW LIN TUN</p>
        <p><ion-text color="success">ID OR PASSPORT NO:</ion-text>ME803783</p>
        <p><ion-text color="success">COUNTRY:</ion-text>MYANMAR</p>
        <p><ion-text color="success">REF CONTRACTS:</ion-text>GNG-TLAI/2309/HSD50PPM/RUMYBUR/01-2020</p>
        <p><ion-text color="success">DATE OF BLACKLIST:</ion-text>MARCH 08, 2020</p>
        <p><ion-text color="success">REMARKS:</ion-text>FAILED TO COMPLETE GUARANTEE TO SELLER</p>   
      </div>
    </ion-card>
        
      <ion-footer >
        <ion-toolbar color="primary">
          <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
        </ion-toolbar>
      </ion-footer>
    </ion-content>
