<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Base Oils</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
  
    <ion-text color="dark">
      <h5 class="ion-text-center">BASE OIL SN.150, SN 100, SN 300, SN 500</h5>
    </ion-text>
    <p style="text-align: justify;">Base Oils are used to manufacture products including lubricating greases, motor oil and metal processing fluids. Almost every lubricant used in plants today started off as just a base oil. Different products require different compositions and properties in the oil. One of the most important factors is the liquid’s viscosity at various temperatures. The kind of base oil to be made depends on the concentration of it’s molecules. It is also dependent how easily these can be extracted.</p>
    <p style="text-align: justify;">Base oil is produced by means of refining crude oil. This means that the crude oil is heated in order that various distillates can be separated from one another. During the heating process, light and heavy hydrocarbons are separated. The light ones can be refined to make petrol and other fuels. The heavier ones are suitable for bitumen and base oils.</p>
    <p style="text-align: justify;">There are large numbers of crude oils all around the world that are used to produce base oils. The most common one is a type of Paraffinic crude oil, although there are also Naphthenic crude oils that create products with better solubility and very good properties at low temperatures. By using hydrogenation technology, in which Sulphur and aromatics are removed using hydrogen under high pressure, you can obtain extremely pure base oils, which are suitable when quality requirements are particularly stringent. Base oil falls into five main groups. The breakdown is based on the refining method and the base oil’s properties in terms of, among other things, viscosity and the proportion of saturates and sulfur content.</p>

    <ion-text color="primary">
      <h6>Classification:</h6>
    </ion-text>
    <p style="text-align: justify;">Base Oils fall into five main groups. This breakdown is based on the refining method and the base oil’s properties in terms of, among other things, viscosity and the proportion of saturates and Sulfur content.</p>

    <ion-text color="primary">
      <h6>Group I</h6>
    </ion-text>
    <p style="text-align: justify;">The least refined type which produced by Solvent Refining. It usually consists of conventional petroleum base oils. Group I as “base stocks contain less than 90% saturates and/or greater than 0.03% Sulphur and have a viscosity index greater than or equal to 80 and less than 120”.</p>

    <ion-text color="primary">
      <h6>Group II</h6>
    </ion-text>
    <p style="text-align: justify;">Better grade of petroleum base oil, which may be partially produced by Hydrocracking. All impurities will be removed from the oil leading to clearer color. Group II as “base stocks contain greater than or equal to 90% saturates and less than or equal to 0.03% Sulphur and have a viscosity index greater than or equal to 80 and less than 120”.</p>

    <ion-text color="primary">
      <h6>Group III</h6>
    </ion-text>
    <p style="text-align: justify;">The best grade of petroleum base oil, since they are fully produced by Hydrocracking, which make these oils purer. Group III as “base stocks contain greater than or equal to 90% saturates and less than or equal to 0.03% Sulphur and have a viscosity index greater than or equal to 120”.</p>

    <p style="text-align: justify;">This group may be described as Synthetic Technology oils or Hydro–Cracked Synthetic oil. However, some oil companies may call their products under this group as synthetic oil.</p>

    <ion-text color="primary">
      <h6>Group IV</h6>
    </ion-text>
    <p style="text-align: justify;">Consists of synthetic oils made of Poly–Alpha–Olefins (PAO). Poly–Alpha–Olefins oils are much more stable in extreme temperatures, which make much more suitable for use in very cold weather (as found in northern Europe) as well as very hot weather (as found in Middle East).</p>

    <ion-text color="primary">
      <h6>Group V</h6>
    </ion-text>
    <p style="text-align: justify;">Any type of base oil other than mentioned in the previously defined groups. They include, among others, Naphthenic oils and est</p>
    </div>
    </ion-card>

    <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
      <img src="assets/purchase.png">
      <ion-text color="dark">
        <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
      </ion-text>
    </ion-card>
    
  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
