<ion-header>
  
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">FCO MALAYSIA OIL</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <img class="ion-text-center" src="assets/fco1.jpg" >
 
  <ion-card>
<ion-text color="primary">
  <div class="ion-text-center">READY STOCK NOW...!!! NEED TO BOOKING URGENT! MALAYSIA DIESEL D2 AND DIESEL EURO 2M, 
    SALE WITH MONTHLY CONTRACT, FULL CORPORATE OFFER WITH PROCEDURES FOB BASIS AND CIF ASIA ONLY
  </div>
</ion-text>
</ion-card>

<ion-card>
  

<ion-text color="danger">
<h5 class="ion-text-center">FULL CORPORATE OFFER CIF ASIA & FOB-DIP & PAY MALAYSIA</h5>
</ion-text>
<div style="text-align: justify;">GNGROUP in collaboration with Our Supplier, with full legal responsibility, hereby issue this Soft/Full 
  Corporate Offer with given terms and conditions as stated in this Offer to confirm our readiness to execute
   a Sales and Purchase Agreement with the ability to supply the following commodity according to the terms and conditions stipulated in this soft corporate offer.</div>


<ion-text color="secondary">
<h5 class="ion-text-center">PAYMENT TERMS: 2 OPTIONS</h5>
</ion-text>
<ion-text color="primary">
<h5>CIF ASIA</h5>
</ion-text>

<div style="text-align: justify;">Buyer Within 1-2 banking Days, Buyer Provide 25% Deposit and 75% FACE VALUE OF LC VIA MT700 or BG / SBLC MT760 To 
  GNGROUP, full payment is made Via TT or MT103 after the buyer completes inspection at buyer's port / Buyer's location,
   100% payable for each shipment within 2 banking days upon the cargo passed SGS</div>
  
   <h5>OR</h5>

   <ion-text color="primary">
    <h5>FOB MALAYSIA</h5>
    </ion-text>
    <div style="text-align: justify;">Buyer Within 1-2 banking Days, Buyer Provide 25% Deposit To GNGROUP, full payment is made Via TT or MT103 after 
      the buyer completes inspection at Seller's Port or Seller location, 100% payable for each shipment within 1 banking
       days upon the cargo passed SGS</div>

       <ion-text color="primary">
        <h5>QUALITY</h5>       
        </ion-text>
        <div style="text-align: justify;">SGS OR EQUIVALENT</div>

        <ion-text color="secondary">
          <h5 class="ion-text-center">Delivery Terms:</h5>
          </ion-text>
          <div style="text-align: justify;">*CIF ASIA ONLY</div>
          <div style="text-align: justify;">*FOB DIP & PAY MALAYSIA PORT</div>

        </ion-card>

        <ion-card>
          
    
          <ion-text color="danger">
            <h5 class="ion-text-center">LIST OF COMMODITY PETROLEUM OIL PRODUCTS</h5>
            </ion-text>

            <ion-text color="primary">
              <h5>DIESEL-GAS OIL (DIESEL D2) ORIGIN MALAYSIA</h5>
              </ion-text> 
              <p>Quantity MINIMUM 5,000MT – MAXIMUM 500.000MT x 12 months</p>
              <p>Price: 500 / $490 USD Gross/ Net, PER MT CIF ASIA</p>
              <p>Price: $490 / $480 USD Gross/ Net, PER MT FOB BASIS</p>
              <p>CIF: ASIA ONLY</p>
              <p>FOB: MALAYSIA</p>

              <ion-text color="primary">
                <h5>DIESEL EURO 2M ORIGIN MALAYSIA</h5>
                </ion-text> 
                <p>Quantity MINIMUM 5,000MT - MAXIMUM 200.000MT x 12 months</p>
                <p>Price: $520 / $510 USD Gross/Net, PER MT CIF ASIA</p>
                <p>Price: $510 / $500 USD Gross/Net, PER MT FOB BASIS</p>
                <p>CIF: ASIA ONLY</p>
                <p>FOB: MALAYSIA</p>

                <ion-text color="primary">
                  <h5>DIESEL EURO 4M ORIGIN MALAYSIA</h5>
                  </ion-text> 
                  <p>Quantity MINIMUM 5,000MT - MAXIMUM 200.000MT x 12 months</p>
                  <p>Price: $530 / $520 USD Gross/Net, PER MT CIF ASIA</p>
                  <p>Price: $520 / $510 USD Gross/Net, PER MT FOB BASIS</p>
                  <p>CIF: ASIA ONLY</p>
                  <p>FOB: MALAYSIA</p>

        </ion-card>
                  <ion-card>

                  <ion-text color="danger">
                    <h5 class="ion-text-center">TRANSACTIONAL PROCEDURES CIF ASIA ONLY</h5>
                    </ion-text>
                    
                    <ion-text color="success">
                      <h5>STEP 1</h5>
                      </ion-text> 
                      <p>GNGROUP provides to buyers:</p>
                      <p>a) SCO Soft Corporate Offer</p>
                      <p style="text-align: justify;">b) The NCND + IMFPA Forms need to be filled in and signed by the buyer as a cover to the agent, consultant, 
                        mandate or broker involved in the sale and purchase</p>
                      <p>c) ICPO Format As a mandatory guide for buyers to provide official ICPO</p>

                      <ion-text color="success">
                        <h5>STEP 2</h5>
                        </ion-text> 
                        <p>Buyer provides GNGROUP:</p>
                        <p>a) Official ICPO such as ICPO Templates Format from GNGROUP</p>
                        <p>b) Copy of Buyer Scan Passport</p>
                        <p>c) Buyer's Company Profile in PDF file</p>

                        <ion-text color="success">
                          <h5>STEP 3</h5>
                          </ion-text> 
                          <p style="text-align: justify;">Seller Issues Contract (SPA) Open for Amendments, Buyer Counters Sign and Seals the Contract 
                            and Sends Via E-Mail to Seller.</p>


                            <ion-text color="success">
                              <h5>STEP 4</h5>
                              </ion-text> 
                              <p style="text-align: justify;">Seller issue Proforma Invoice. Buyer Counters Sign and Seals the Proforma Invoice and Sends Via E-Mail to Seller.
                              </p>

                              <ion-text color="success">
                                <h5>STEP 5</h5>
                                </ion-text> 
                                <p style="text-align: justify;">Buyer Within 1-2 banking Days, Buyer Pay 25% Deposit and Provide 75% FACE VALUE OF LC VIA MT700 or BG 
                                  / SBLC MT760 To GNGROUP. Full payment is made Via TT or MT103 after the buyer completes inspection at Buyer's Port or Buyer location, 
                                  100% payable for each shipment within 2 banking days upon the cargo passed SGS
                                </p>

                                <ion-text color="success">
                                  <h5>STEP 6</h5>
                                  </ion-text> 
                                  <p style="text-align: justify;">Within 5 - 12 working days of Payment, GNGROUP / Petronas Quota Holder will issue POP, issue notification
                                     and instruction. Issue Notification Letter, GNGROUP / Petronas Quota Holder pay for tariff cost for the transportation calculated by 
                                     shipping Company. Releases the All remaining Documents CPA, Shipping Document, BL and CIQ.
                                  </p>

                                <ion-text color="success">
                                  <h5>STEP 7</h5>
                                  </ion-text> 
                                  <p style="text-align: justify;">Ship arrives at port destination port and conduct inspection on the goods and upon successful dip test,
                                     Seller issues Commercial Invoice to buyer. Buyer pays for “exact quantity” of product in commercial invoice delivered into vessel by
                                      MT-103 / TT or Wire transfer minus the deposit amount.
                                  </p>

                                  <ion-text color="success">
                                    <h5>STEP 8</h5>
                                    </ion-text> 
                                    <p style="text-align: justify;">Once the loading is completely done, product is transferred to buyer's vessel with all shipping 
                                      documentation and title is transferred to buyer.
                                    </p>

                                    <ion-text color="success">
                                      <h5>STEP 9</h5>
                                      </ion-text> 
                                      <p>The commissions will be paid by the buyer, against NCND + IMFPA with the following distribution: </p>
                                      <p>a) 50%: Seller Side (Closed)</p>
                                      <p>b) 50%: Buyer side - Open to Buyer Mandate and Buyer Intermediaries</p>
                                      <p style="text-align: justify;">c) The agreed commission will be included within an Irrevocable Master Fee, Protection Agreement
                                         (IMFPA) to be signed between the buyer and the seller, group of each party prior to issuance of the Sales and Purchase Agreement (SPA).
                                      </p>
                  
              </ion-card>

              <ion-card>
                <ion-text color="danger">
                  <h5 class="ion-text-center">TRANSACTIONAL PROCEDURES FOB MALAYSIA BASIS </h5>
                  </ion-text>

                  <ion-text color="success">
                    <h5>STEP 1</h5>
                    </ion-text> 
                    <p>GNGROUP provides to buyers:</p>
                    <p>a) SCO Soft Corporate Offer</p>
                    <p style="text-align: justify;">b) The NCND + IMFPA Forms need to be filled in and signed by the buyer as a cover to the agent, consultant, 
                      mandate or broker involved in the sale and purchase
                    </p>
                    <p>c) ICPO Format As a mandatory guide for buyers to provide official ICPO</p>

                    <ion-text color="success">
                      <h5>STEP 2</h5>
                      </ion-text> 
                      <p>Buyer provides GNGROUP:</p>
                      <p>a) Official ICPO such as ICPO Templates Format from GNGROUP</p>
                      <p>b) Copy of Buyer Scan Passport
                      </p>
                      <p>c) Buyer's Company Profile in PDF file</p>

                      <ion-text color="success">
                        <h5>STEP 3</h5>
                        </ion-text> 
                        <p style="text-align: justify;">Seller Issues Contract (SPA) Open for Amendments, Buyer Counters Sign and Seals the Contract
                           and Sends Via E-Mail to Seller.</p>

                           <ion-text color="success">
                            <h5>STEP 4</h5>
                            </ion-text> 
                            <p style="text-align: justify;">Seller issue Proforma Invoice. Buyer Counters Sign and Seals the Proforma 
                              Invoice and Sends Via E-Mail to Seller.</p>

                              <ion-text color="success">
                                <h5>STEP 5</h5>
                                </ion-text> 
                                <p style="text-align: justify;">Buyer Within 1-2 banking Days, Buyer Pay 25% Deposit to GNGROUP. Full payment is made Via TT 
                                  or MT103 after the buyer completes inspection at Seller's Port or Seller location, 100% payable for each shipment within 1 
                                  banking days upon the cargo passed SGS</p>

                                  <ion-text color="success">
                                    <h5>STEP 6</h5>
                                    </ion-text> 
                                    <p style="text-align: justify;">Within 7 - 12 Working days of payment option, GNGROUP will issue POP and buyer should within 24,
                                       48, 72 Hours send the Vessel Name, Captain’s Name, Q88 send to GNGROUP.</p>

                                       <ion-text color="success">
                                        <h5>STEP 7</h5>
                                        </ion-text> 
                                        <p style="text-align: justify;">While the ship is loading at the Storage Tank or Vessel, seller arrange for SGS / Dip Test.
                                           Upon successful dip test, Seller issues Commercial Invoice to buyer. Buyer pays for “exact quantity” of product in commercial 
                                           invoice delivered into vessel by MT-103 / TT or Wire transfer minus the deposit amount.</p>

                                           <ion-text color="success">
                                            <h5>STEP 8</h5>
                                            </ion-text> 
                                            <p style="text-align: justify;">Once the loading is completely done, product is transferred to buyer's vessel with all shipping 
                                              documentation and title is transferred to buyer.</p>

                                              <ion-text color="success">
                                                <h5>STEP 9</h5>
                                                </ion-text>
                                                <p>The commissions will be paid by the seller, against NCND + IMFPA with the following distribution: </p>
                                                <p>a) 50%: Seller Side: (Closed)</p>
                                                <p>b) 50%: Buyer Side: Open to Buyer Mandate and Buyer Intermediaries</p> 
                                                <p style="text-align: justify;">c) The agreed commission will be included within an Irrevocable Master Fee, Protection 
                                                  Agreement (IMFPA) to be signed between the buyer and the seller, group of each party prior to issuance of the Sales 
                                                  and Purchase Agreement (SPA).</p>

           </ion-card>
           <ion-card>     
              <ion-text color="danger">
            <h5 class="ion-text-center">NOTES: PLEASE READ THE NOTICE BEFORE PROCEEDING WITH US:</h5>
            </ion-text>

            <p style="text-align: justify;">1) We do not allow either party to accept deposit from the buyers except our permission. For Acquire Authentication, Please Email To: (export@gngroupms.com)
               before making any payment. Thank you.</p>

               <p style="text-align: justify;">
                2) The conditions, commissions and procedures contained in our Soft Offer ARE NOT NEGOTIABLE, we did not send samples or photos, neither we accepted TTM, nor 
                visits to the Yards, Refineries or Centers of Production.
               </p>

               <p style="text-align: justify;">3) The above procedures must be accepted and Incorporated on the ICPO word for word. No Bill of Ladings, Warranties, SGS Reports, or Past fulfilled Contract will be presented as “Past Performance,” 
                 sanitized or not, for the following reasons;</p>

                 <ion-text color="danger">
                 <p class="ion-text-center">AGAINST TRADE REGULATIONS, AGAINST STATED SGS POLICY VIOLATES FORMAL CONTRACT CONFIDENTIALITY BETWEEN BUYER AND SELLER.</p>
                 </ion-text>
                 <p style="text-align: justify;">4) The ICPO must be complete identification of principal buyer signed, sealed and stamped; in buyer’s company letterhead with quantity per 
                   month/year, Target Price, Contract length, Buyer’s own opinion of specification if any and any other relevant details. We do not accept expired ICPO (Maximum date for validity is 5 working days).</p>

                   <ion-text color="danger">
                   <p class="ion-text-center">ANY ICPO ISSUED MUST INSERT OUR WORKING PROCEDURE.
                    WE DO NOT ACCEPT ANY ICPO WITH OTHER PROCEDURE
                    </p>
                  </ion-text>

                   <p style="text-align: justify;">5) Non-Circumvention, Non-Disclosure Agreement All information in this soft corporate offer are confidential and all trading deals with all parties including seller and
                     buyer depend on this offer are secret and non-disclosure and non-circumvention. All correspondents between GNGROUP Company and your company (your party) it’s under Non-Circumvention, Non-Disclosure law.
                      Product availability and acceptance buyer company are depending on seller decision</p>

                      <p>6) Specification Standard</p>
                      <p>In FOB: Injection time 7-12 days</p>
                      <p>In CIF: Shipment time 8-15 days</p>
                      <p>Inspection SGS or Equivalent</p>

                      <p style="text-align: justify;"> 7) COMMISSIONS: Commission is the difference between price GROSS and price NET. Seller pays commission to Seller Side and Buyer side. 
                        The Total commissions WITH THE FOLLOWING</p>

                        <p>8) DISTRIBUTION:</p>
                        <p>The 50% of total commissions - Closed to Seller Mandate</p>
                        <p>The 50% of total commissions - Open to Buyer Mandate and Buyer Intermediaries</p>
         </ion-card>

         <img src="assets/img3.jpg">
         <ion-card>
         

         <ion-text color="primary">          
          <h5>IMPORTANT NOTIS:</h5>
        </ion-text>
          <p>Please note do not CALL, WHATSAPP, EMAIL us asking for POP because this is not available. No Bill 
            of Ladings, Warranties, SGS Reports, or past fulfilled Contract will be presented as “Past Performance,”
             sanitized or not, for the following reasons;</p>
          

          <ion-text color="danger"> 
            <h5 class="ion-text-center">AGAINST TRADE REGULATIONS, AGAINST STATED SGS POLICY VIOLATES FORMAL CONTRACT CONFIDENTIALITY BETWEEN BUYER AND SELLER.</h5>
            </ion-text>

            <ion-text color="primary">
              <h5>IMPORTANT NOTICE TO ALL SERIOUS CUSTOMER:</h5>
            </ion-text>
              <p style="text-align: justify;">Any questions please Email us, for Whatsapp / Call / SMS will be treated only to buyers who already issue ICPO, 
                Scan Passport And Company Profile. If not, we will not entertain and will not answer, as we avoid customers who 
                don't read our procedures, customers who always make their own laws. So we hope our customers need to be aware and
                 understand our procedures, need to agree with the terms of payment. All customer setup documents to send ICPO to us, 
                 please download the relevant documents first in https://gngmsb.blogspot.com/ for facilitate transactions.</p>
            

            <ion-text color="primary">
              <h5>CONTACT US VIA EMAIL:</h5>
            </ion-text>              
              <div>Email: export@gngroupms.com</div>
              <div>Email: 1mytv4u@gmail.com</div>
              <div>Email: gngroup.indonesia@gmail.com</div>
              <div>Blog: http://gngmsb.blogspot.com</div>
              <div>Website: http://gngroupms.com/</div>
            

        </ion-card>
              
</div>
<ion-footer >
  <ion-toolbar color="primary">
    <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
  </ion-toolbar>
</ion-footer>
</ion-content>
