<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Crude Oil</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <div class="ion-padding">

  <ion-text color="dark">
    <h5 class="ion-text-center">Crudel Oil, BLCO, REBCO, ESPO</h5>
  </ion-text>
  <p style="text-align: justify;">Crude Oil, Commonly known as Petroleum (coming from Latin means Petra: “Rock” + Oleum: “Oil”). It is a naturally occurring, yellow-to-black liquid found in geological formations beneath the Earth’s surface. It is commonly refined into various types of fuels. It’s components of petroleum are separated using a technique called fractional distillation, i.e., separation of a liquid mixture into fractions differing in boiling point by means of distillation, typically using a fractionating column. While hydrocarbons are usually the primary component, their composition can vary from 50%–97% depending on the type and how it is extracted.</p>
  <p style="text-align: justify;">It is created through the heating and compression of organic materials over a long period of time. Most of the oil we extract today comes from the remains of pre–historic algae and zooplankton whose remains settled on the bottom of an Ocean or Lake. Over time this organic material combined with mud and was then heated to high temperatures from the pressure created by heavy layers of sediment. This process, known as “Diagenesis”, changes the chemical composition fist into a waxy compound called “Kerogen” and then, with increased heat, into a liquid through a process called “Catagenesis”.</p>
  <p style="text-align: justify;">Organic compounds like Nitrogen, Oxygen and Sulfur typically make–up between 6%–10% of it. While metals such as Copper, Nickel, Vanadium and Iron account for less than 1% of the total composition.
  </p>
  <p style="text-align: justify;">Bonny Light Oil (“BLCO”) is a high grade of Nigerian Crude Oil with high API gravity (low specific gravity), produced in the Niger Delta basis and named after the prolific region around the city of Bonny.</p>
  <p style="text-align: justify;">The very low sulfur content of Bonny Light Crude makes it a highly desired grade for its low corrosiveness to refinery infrastructure and the lower environmental of its byproducts in refinery effluent.</p>
  <p style="text-align: justify;">Russian Export Blend Crude Oil (“REBCO”) is coming in two main qualities, Urals Blend and Siberian Light. Siberian Light has a lower Sulfur content and lower viscosity that Urals Blend. It is a mixture of crude oils consisting of Siberian Light with high Sulfur oils produced in Russia’s European regions.</p>
  <p style="text-align: justify;">Eastern Siberian Pacific Pipeline Crude Oil (“ESPO”) is the 4,188km-long ESPO (Eastern Siberia Pacific Ocean) oil pipeline exports crude oil from Russia to the Asian Pacific markets of Japan, China and Korea.</p>
  <p style="text-align: justify;">The pipeline was built by the Russian company Transneft in two phases. It stretches from Taishet to Kozmino, via Kazachinskoe, Skovorodino and Perevoznaya. The first phase of the pipeline was completed in 2009 and the second phase was completed in December 2012. Transneft also operates the pipeline.</p>
  <p style="text-align: justify;">Light Crude Oil: It is liquid petroleum that has a low density and flows freely at room temperature, and has a low viscosity, low specific gravity and high API gravity. It is due to the presence of a high proportion of light hydrocarbon fractions. It generally has low wax content. Light crude oil receives a higher price than heavy one on commodity markets. Because, it produces a higher percentage of gasoline and diesel fuel when converted into products by an oil refinery.</p>
  <p style="text-align: justify;">Heavy Crude Oil: It is referred to as “Heavy” because its density or specific gravity is higher than that of light crude oil. It has been defined as any liquid petroleum with an API gravity less than 20º. Physical properties that differ between heavy crude oils and lighter grades. It includes higher viscosity and specific gravity, as well as heavier molecular composition.</p>
  </div>
  </ion-card>

  <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
    <img src="assets/purchase.png">
    <ion-text color="dark">
      <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
    </ion-text>
  </ion-card>
  
  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
