<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">FAQ's</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <div class="ion-padding">
    <ion-text color="dark">
      <h5 class="ion-text-center">What is this application?</h5>
    </ion-text>
      <p style="text-align: justify;">This application is about GNGROUP company that sells petroleum products where in this application
         the user can know the background of GNGROUP and the user can fill out the purchase form if the buyer 
         is serious to buy the product. In addition, there is some information about the procedure and process
        that needs to be made. </p>
  </div>
</ion-card>

<ion-card>
  <div class="ion-padding">
    <ion-text color="dark">
      <h5 class="ion-text-center">How to fill the purchase form ?</h5>
    </ion-text>
      <p style="text-align: justify;">The user needs to fill in the relevant information and the user / 
        buyer needs to take note of the selection of commodity oil product to be purchased. After that, 
        buyer needs to choose the right delivery term If you choose to buy FOB, please refer to our FCO 
        Russia or FCO Malaysia. See the list of products and FOB Port Available? </p>
  </div>
</ion-card>

<ion-card>
  <div class="ion-padding">
    <ion-text color="dark">
      <h5 class="ion-text-center">How do I know if a stock product is still available or not? </h5>
    </ion-text>
      <p style="text-align: justify;">If the buyer wants to know if the stock product you want to buy 
        is still available or not. User can go to the contact us page where the user can send us a message 
        query. We will try to reply as soon as possible. </p>
  </div>
</ion-card>

</ion-content>
