<ion-header>
  
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">FCO ONLINE FOR CIF AND FOB</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <img class="ion-text-center" src="assets/fco.jpg" >

    <h6 style="text-align: justify;">GNGROUP in collaboration with Our Refinery, Manufactory, Factory, Supplier or Seller, 
      with Reference Number: GNFCO20/MYRU-232413-20 full legal responsibility, hereby issue this 
      Soft/Full Corporate Offer with given terms and conditions as stated in this Offer to confirm our 
      readiness to execute a Sales and Purchase Agreement with the ability to supply the following commodity 
      according to the terms and conditions stipulated in this soft corporate offer.</h6>

      <ion-text color="success">
      <h5>1. TERMS DELIVERY:</h5>
      </ion-text>
      <h6> A) FOR CIF ASWP DESTINATION: </h6>
      <h6>ANY SAFE WORLD PORT OR SHIP TO SHIP INTERNATIONAL WATER</h6>

      <ion-text color="success">
      <h5>B) FOR FOB DESTINATION:</h5>
      </ion-text>
      <p>PORT: ROTTERDAM / NOVOROSSIYSK / VLADIVOSTOK / PRIMORKS / UST LUGA OR TO BE ADVICE (TBA)</p>

       <ion-text color="success">
      <h5>2. BUYER’S COMMITMENT:</h5>
    </ion-text>
      <p>OFFICIAL ICPO + SCAN PASSPORT + COMPANY PROFILE + LATEST BCL OR POF</p>

      <ion-text color="success">
      <h5>3. GUARANTEE PAYMENT FOR CIF OR FOB IS REQUIRED FROM BUYERS:</h5>
    </ion-text>
      <p>A. SWIFT MT710 VIA USANCE LC or</p>
      <p>B. SWIFT MT700 VIA DLC or</p>
      <p>C. SWIFT MT199 FOLLOW BY SWIFT MT760 VIA SBLC or</p>
      <p>D. 10% DEPOSIT VIA T/T WIRED TRANSFER MT103 AND BALANCE 90% AT DISCHARGED PORT AFTER CIQ/SGS INSPECTION.</p>

      <ion-text color="danger" class="ion-text-center">
      <h5>LIST OF PRODUCT PETROLEUM OILS GUARANTEED TO BE SUPPLIED:</h5>
    </ion-text>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 1</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>DIESEL-GAS OIL L0.2-62 GOST 305-82 (DIESEL D2)</p>
        <p>QTY MIN: 20,000.00 MT</p>
        <p>QTY MAX: 900,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 2</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>MAZUT M100 GOST 10585-75 OR 99</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 300,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 3</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>JET A191/91 (AVIATION KEROSENE COLONIAL GRADE A1)</p>
        <p>QTY MIN: 500,000.00 BBLS</p>
        <p>QTY MAX: 5,000,000.00 BBLS</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 4</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>JET FUEL JP54 (AVIATION KEROSENE COLONIAL GRADE 54)</p>
        <p>QTY MIN: 500,000.00 BBLS</p>
        <p>QTY MAX: 5,000,000.00 BBLS</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 5</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>HSD2 (HIGH SPEED DIESEL) 50PPM</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 300,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 6</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>RFO VIRGIN D-6</p>
        <p>QTY MIN: 1,000,000.00 GALS</p>
        <p>QTY MAX: 50,000,000.00 GALS</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 7</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>DIESEL EN590 10PPM: EURO 5 OR EURO 4</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 300,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 8</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>EXPORT BLEND CRUDE OIL (REBCO) – GOST 51 858-2002 OR GOST 9965-76</p>
        <p>QTY MIN: 100,000 BBLS</p>
        <p>QTY MAX: 10,000,000 BBLS</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 9</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>HSD2 GAS OIL L-0.2-62 GOST 305-82 AGO (AUTOMATIVE GAS OIL)</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 300,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 10</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>LIQUEFIELD PETROLEUM GAS (PROPANE (C3H8) 50%+ BUTANE (C4H10) – LPG</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 300,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 11</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>LIQUEFIELD NATURAL GAS 5542-87 (LNG)</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 500,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 12</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>RUSSIAN BITUMEN: 40/50.60/70&80/100/ PEIROLEUM ASPHALT</p>
        <p>QTY MIN: 10,000.00 MT</p>
        <p>QTY MAX: 100,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 13</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>RUSSIAN UREA N46% GRANULAR</p>
        <p>QTY MIN: 10,000.00 MT</p>
        <p>QTY MAX: 100,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 14</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>RUSSIAN CST-180 FUEL OIL</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 100,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 15</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>RUSSIAN SUPER GASOLINE 91 RON (UNL) 93, 89, 95 OCTANES</p>
        <p>QTY MIN: 30,000.00 MT</p>
        <p>QTY MAX: 100,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 16</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>RUSSIAN BASE OIL SN.150, SN 100, SN 300, SN 500</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 100,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 17</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>LIGHT CRUDE OIL</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 100,000.00 MT</p>
        <p>NOTE: DELIVERY ONLY CIF ASWP</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 18</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>LIGHT CYCLE OIL</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 100,000.00 MT</p>
        <p>NOTE: DELIVERY ONLY CIF ASWP</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 19</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>PETROLEUM COKE (PETCOKE)</p>
        <p>QTY MIN: 50,000.00 MT</p>
        <p>QTY MAX: 100,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 20</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>MALAYSIA DIESEL D2</p>
        <p>QTY MIN: 10,000.00 MT</p>
        <p>QTY MAX: 200,000.00 MT</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 21</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>MALAYSIA DIESEL D2</p>
        <p>QTY MIN: 10,000.00 MT</p>
        <p>QTY MAX: 200,000.00 MT</p>
        <p>NOTE: DELIVERY TO CIF ASIA ONLY</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 22</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>MALAYSIA DIESEL EURO 2M</p>
        <p>QTY MIN: 20,000.00 MT</p>
        <p>QTY MAX: 200,000.00 MT</p>
        <p>NOTE: DELIVERY TO CIF ASIA ONLY</p>
      </ion-card-content>
    </ion-card>

    <ion-text color="primary" class="ion-text-center">
      <h5>PRODUCT OFFER 23</h5>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <p>MALAYSIA DIESEL EURO 4M</p>
        <p>QTY MIN: 20,000.00 MT</p>
        <p>QTY MAX: 200,000.00 MT</p>
        <p>NOTE: DELIVERY TO CIF ASIA ONLY</p>
      </ion-card-content>
    </ion-card>
     
    <ion-text color="primary" class="ion-text-center">
      <h5>PROCEDURES FOB DIP & PAY BANKING PROCEDURES</h5>
    </ion-text>
    <p>(STORAGE TANK TO STORAGE TANK OR STORAGE TANK TO VESSEL)</p>

    <ion-text color="danger">
      <h5>Dip Test on Seller tank before injection into buyer hire tank</h5>
    </ion-text>
    <p>Country Receiving Bank: Malaysia or Seller Options</p>

    <ion-text color="success">
      <h5>STEP 1</h5>
    </ion-text>
    <p>GNGROUP provides to buyers:</p>
    <p>a) SOFT CORPORATE OFFER (SCO)</p>
    <p>b) TEMPLATE ICPO FORMAT</p>
    <p>c) BCL Format Template</p>

    <ion-text color="success">
      <h5>STEP 2</h5>
    </ion-text>
    <p>Buyer provides to GNGROUP:</p>
    <p>a) Official ICPO, Address ICPO to: GNGROUP (M) SDN. BHD., Attn to: MR SYAPOL MA’AROF MOHD</p>
    <p>b) Copy of Buyer Scan Passport</p>
    <p>c) Buyer’s Company Profile in PDF file</p>
    <p>d) Latest BCL To GNGROUP (M) SDN. BHD.</p>

    <ion-text color="success">
      <h5>STEP 3</h5>
    </ion-text>
    <p>GNGROUP Issues SPA and Proforma Invoice for Buyer to sign and return to Seller</p>
    

    <ion-text color="success">
      <h5>STEP 4</h5>
    </ion-text>
    <p style="text-align: justify;">Buyer bank within 4 days issues SWIFT MT199 Follow by SWIFT MT760 Via SBLC/BG or SWIFT MT710 Via USSANCE LC 
      or SWIFT MT700 Via DLC AT SIGHT to seller nominated bank and sends swift Copy to Seller</p>

    <ion-text color="success">
      <h5>STEP 5</h5>
    </ion-text>
    <p style="text-align: justify;">Seller Post 2% PB to buyer bank after authentication and verification of the SBLC/USSANCE LC/DLC AT SIGHT 
      via bank to bank and Within 4-7 days Seller hires tanks at their own cost and injects fuel into the hired 
      tanks and then Seller sends to Buyer the following Documents</p>
    <p>a. Unconditional DTA</p>
    <p>b. Authorization to Verify (ATV)</p>
    <p>c. TSR</p>
    <p>d. Fresh SGS (less than 48 hours old)</p>
    <p>e. Commitment to Supply</p>
    <p>f. Certificate of Origin</p>
    <p>g. Q & Q done by indigenous lab at port of Origin</p>
    <p>h. Authorization to Sell (ATS)</p>
    <p>i. License Certificate</p>
    <p>j. Statement of availability of product</p>

    <ion-text color="success">
      <h5>STEP 6</h5>
    </ion-text>
    <p style="text-align: justify;">Buyer conduct dip test in hired tanks by SGS or Agent and Buyer authorize Payment for the Fuel via MT103 
      or T/T and Seller transfer the ownership of the tank to buyer and along with Title documents to buyer.</p>

    <ion-text color="success">
      <h5>STEP 7</h5>
    </ion-text>
    <p>Seller pays commission to Seller Side and Buyer Side:</p>
    <p>50% of total commissions – Closed to Seller Mandate Holder</p>
    <p>50% of total commissions – Open to Buyer Mandate and Buyer Intermediaries</p>

    <ion-text color="success">
      <h5>STEP 8</h5>
    </ion-text>
    <p style="text-align: justify;">For monthly Bank Buyers Will issue New SBLC or BG or DLC Expansion for 12 Months for Subsequent Shipping and 
      GNGROUP opens 2% PB to buyer bank for 12-month contract sales of products. Seller move the fuel to Port Rotterdam 
      and inject fuel into the hired tank and issue DTA/ATV/ Fresh SGS/TSR with (GPS), PIR/Q88/BL to buyer and buyer dip 
      test and pay via MT103/T/T this will continue till the 12 months delivery is completed.</p>

    <ion-text color="primary" class="ion-text-center">
      <h5>PROCEDURES FOR CIF ASWP TRIAL/CONTRACT</h5>
    </ion-text>
    <p>Country Receiving Bank: Malaysia or Seller Options</p>

    <ion-text color="success">
      <h5>STEP 1</h5>
    </ion-text>
    <p>GNGROUP provides to buyers:</p>
    <p>a) SOFT CORPORATE OFFER (SCO)</p>
    <p>b) TEMPLATE ICPO FORMAT</p>
    <p>c) TEMPLATE BCL FORMAT</p>

    <ion-text color="success">
      <h5>STEP 2</h5>
    </ion-text>
    <p>Buyer provides to GNGROUP:</p>
    <p>a) Official ICPO, Address ICPO to: GNGROUP (M) SDN. BHD., Attn to: MR SYAPOL MA’AROF MOHD</p>
    <p>b) Copy of Buyer Scan Passport</p>
    <p>c) Buyer’s Company Profile in PDF file</p>
    <p>D) Latest BCL to GNGROUP (M) SDN. BHD.</p>

    <ion-text color="success">
      <h5>STEP 3</h5>
    </ion-text>
    <p>GNGROUP provides to buyers:</p>
    <p>Draft SPA (Sales Purchases Agreement) For review, completion or any correction.</p>

    <ion-text color="success">
      <h5>STEP 4</h5>
    </ion-text>
    <p style="text-align: justify;">Then the buyer sends Email the Draft SPA back to GNGROUP Via Email</p>

    <ion-text color="success">
      <h5>STEP 5</h5>
    </ion-text>
    <p style="text-align: justify;">GNGROUP provides to buyer “Proforma Invoice” and Buyer sign proforma invoice and email back to GNGROUP</p>

    <ion-text color="success">
      <h5>STEP 6</h5>
    </ion-text>
    <p style="text-align: justify;">Buyer within 5 banking days, buyer’s bank sends SWIFT MT199 Follow by SWIFT MT760 Via SBLC/BG or Swift MT710 Via USSANCE
       LC or SWIFT MT700 Via DLC AT SIGHT to seller nominated bank and send swift copy to Seller. But if the buyer fails to issue 
       SWIFT MT199 Follow by SWIFT MT760 Via SBLC/BG or Swift MT710 Via USSANCE LC or SWIFT MT700 Via DLC AT SIGHT within Five 5 
       Banking days, as an alternative provision buyer pays via MT103 TT the shipping cost to seller, the amount of the shipping 
       cost depends on the location of the country and continental port. Upon the confirmation of the shipping cost, the Seller 
       will proceed with the loading of the product without any delay, which will be deducted from the product’s invoice value 
       when final payment is made by the buyer after discharge of product at the destination port</p>

    <ion-text color="success">
      <h5>STEP 7</h5>
    </ion-text>
    <p>Seller issue Full POP and Shipping Documents, 2% PB Including:</p>
    <p>a) Copy of Commercial Invoice.</p>
    <p>b) Copy of Approval to License certificate.</p>
    <p>c) Copy of Statement of Availability of the Product.</p>
    <p>d) Copy of the Refinery Commitment to Produce the Product.</p>
    <p>e) Copy of the Transnet Contract to Transport the Product to the Port.</p>
    <p>f) Copy of the Port Storage Agreement.</p>
    <p>g) Copy of the Charter Party Agreement(S) To Transport the Product to Discharge Port.</p>
    <p>h) Dip test Authorization, Tank receipt and SGS report.</p>
    <p>i) Copy of Vessel Questionnaire 88</p>
    <p>j) Copy of Bill of Lading.</p>
    <p>k) Certificate of Origin.</p>
    <p>l) Allocation Transaction Passport Code Certificate [ATPCC]</p>
    <p>m) The customs formalities, and test report to buyer/Bank.</p>

    <ion-text color="success">
      <h5>STEP 8</h5>
    </ion-text>
    <ion-text color="danger">
      <h5>IF SHIP TO SHIP OCEAN:</h5>
    </ion-text>
    <p style="text-align: justify;">Buyer submits his Vessel information. Q88, CPA and Location Clearance. Vessel Captains contact each other
       and coordinate boarding of vessel for buyer’s inspectors. Upon successful dip test, Buyer pays for “exact
        quantity” of product in Proforma Invoice using MT-103 / TT by Wire transfer delivered into vessel, 100%
         payable for each shipment within 1-2 banking days upon the cargo passed SGS.</p>

    <ion-text color="danger">
      <h5>IF SHIP TO BUYER’S PORT:</h5>
    </ion-text>
    <p style="text-align: justify;">GNGROUP or Refinery loads the vessel, inspects the product on-board the vessel and deliver the product at a mutually
       agreed safe port. At the delivery port, the buyer will conduct his own inspection to ascertain the quantity and 
       quality of the product. Upon successful dip test, Buyer pays for “exact quantity” of product in Proforma Invoice 
       using MT-103 / TT by Wire transfer delivered into vessel, 100% payable for each shipment within 1-2 banking days 
       upon the cargo passed SGS.</p>

    <ion-text color="success">
      <h5>STEP 9</h5>
    </ion-text>
    <p>Product is transferred to buyer’s vessel with all shipping documentation and title is transferred to buyer.</p>

    <ion-text color="success">
      <h5>STEP 10</h5>
    </ion-text>
    <p>Seller pays commission to Seller Side and Buyer side commissions:</p>
    <p>A. 50%: Seller Side: (50% Closed to Seller Side)</p>
    <p>B. 50%: Buyer side: (50% Open to Buyer Mandate & Intermediaries)</p>
    <p style="text-align: justify;">C. The agreed commission will be included within an Irrevocable Master Fee, Protection Agreement (IMFPA) to be 
      signed between the buyer and the seller, group of each party prior to issuance of the Sales and Purchase Agreement
       (SPA).</p>
 

    <ion-text color="success">
      <h5>STEP 11</h5>
    </ion-text>
    <p style="text-align: justify;">Bank Buyers Will issue New SBLC or BG Expansion for 12 Months for Subsequent Shipping and GNGROUP opens 2% PB 
      to buyer bank for 12-month contract sales of products.</p>

     <img src="assets/img1.jpg" >

     <ion-card>
       <video 
       width="100%"
       controls="controls"
       preload="metadata"
       webkit-playsinline="webkit-playsinline"
       class="videoPlayer">
       <source src="assets/FCO.mp4" type="video/mp4"> 

       </video>
     </ion-card>


    </div>

    <ion-footer >
      <ion-toolbar color="primary">
        <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
      </ion-toolbar>
    </ion-footer>
</ion-content>
