<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Diesel D6</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
  
    <ion-text color="dark">
      <h5 class="ion-text-center">D6 Virgin Fuel Oil</h5>
    </ion-text>
    <p style="text-align: justify;">D6 Virgin Fuel Oil is also being known as Residual Fuel Oil and is of high–viscosity. This particular fuel oil requires preheating to 220–260ºF (= 104, 44–126, 66°C).</p>
    <p style="text-align: justify;">D6 is mostly used for generators. Recent changes in fuel quality regulation now require further refining of the D6 in order to remove the 
      sulfur, which leads to a higher cost. Despite this recent change, D6 is still less useful because of its viscosity as well as that it needs to be pre–heated before it 
      can be used and contains high amounts of pollutants, such as sulfur. Since it requires pre–heating, it cannot be used in small ships or boats or cars. However large ships and power plants can use the residual fuel oil.</p>
    <p style="text-align: justify;">Russian D6 is a type of residual fuel, mainly used in power plants and larger ships. It is not possible to use it in smaller engines or vessels / vehicles where it is not possible to pre–heat it. D6 is its name in the USA.
       In other parts of the world it has other names.</p>
    <p style="text-align: justify;">Residual means the material remaining after the more valuable cuts of crude oil have boiled off. The residue may contain various undesirable impurities including 2% water and 1½% percent mineral soil.
       D6 fuel is also known as residual fuel oil (RFO), by the Navy specification of Bunker C, or by the Pacific Specification of PS–400.</p>
    <p style="text-align: justify;">Recent changes in fuel quality regulation now require further refining of the D6 in order to remove the sulfur. It leads to a higher cost. Despite this recent change. D6 is still less useful because of its viscosity. It also needs to be pre–heated before it can be used.
       It contains high amounts of pollutants, such as sulfur.</p>
    <p style="text-align: justify;">The price of D6 diesel traditionally rises during colder months as demand for heating oil rises, which is refined in much the same way. In many parts of the United States and throughout the United Kingdom and Australia,
       D6 diesel may be priced higher than petrol.</p>
    <p style="text-align: justify;">D6 Diesel Standards and Classification CCAI and CII are two indexes which describe the ignition quality of residual fuel oil. The CCAI is especially often calculated for marine fuels. 
      Despite this marine fuels are still quoted on the international bunker markets with their maximum viscosity. It is set by the ISO 8217 standard (see below) due to the fact that marine engines are designed to use
       different viscosities of fuel.</p>
    </div>
  </ion-card>

  <ion-card>
    <div class="ion-padding">
      <p class="ion-text-center">The unit of viscosity used is the Centistokes and the D6 fuel most frequently quoted are listed below in order of cost, the least expensive first:</p>
      <p>* IFO 380 – Intermediate D6 fuel oil with a maximum viscosity of 380 Centistokes.</p>
      <p>* IFO 180 – Intermediate D6 fuel oil with a maximum viscosity of 180 Centistokes.</p>
      <p>* LS 380 – Low-sulphur (less 1.5%) intermediate D6 fuel oil with a maximum viscosity of 380 Centistokes.</p>
      <p>* LS 180 – Low-sulphur (less 1.5%) intermediate D6 fuel oil with a maximum viscosity of 180 Centistokes</p>
      <p>* MDO – Marine diesel oil.</p>
      <p>* MGO – Marine gasoil.</p>
      <p style="text-align: justify;">Russia is one of the big producers of D6 Fuel Oil and main refineries in Russia produce this product in large quantities. Russian D6 Virgin Fuel Oil has a very good quality and can be supplied to customers around the world.</p>
      
    </div>
  </ion-card>

  <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
    <img src="assets/purchase.png">
    <ion-text color="dark">
      <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
    </ion-text>
  </ion-card>
  
  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
