<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
  <ion-title>Login</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <div class="ion-padding">
  <ion-item>
  <ion-label position="floating">E-mail</ion-label>
  <ion-input type="email" [(ngModel)]="user.email" required></ion-input >
  </ion-item>
  <ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input type="password" [(ngModel)]="user.password" required></ion-input >
  </ion-item>
  <ion-button class="ionpadding" expand="full" shape="round" color="primary" (click)="login(user)">
  LOGIN
  </ion-button>

  <p [routerLink]="['/register']" class="ion-text-center">Create an account</p>
  </div>