<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">COMMISSION & TERMS</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/com.jpg" >
    <ion-text color="dark">
      <h6 class="ion-text-center">FOR MANDATE, AGENTS, CONSULTANTS, FACILITATOR’S, BROKER, BUYER SIDE OR SELLER SIDE</h6>
    </ion-text>
  </ion-card>
<ion-card>
  <div class="ion-padding">
    <ion-text color="dark">
      <h6>1) Non Circumvention Non Disclosure Agreement (NCNDA):</h6>
    </ion-text>
    <div style="text-align: justify;">NCNDA as it stands is a document which protects all parties’ financial interest. (which is the commission fee). A Non Circumvention Non Disclosure Agreement is usually signed by all involved parties before the SPA is signed could be embedded in the SPA. This protects all parties from being circumvented by any greedy participant in any given deal. It is always advisable to have this document signed by all the players in any particular deal. It is very important to have this document embedded in a contract as an integral part rather than as an addendum to a contract.</div>
    <img src="assets/comm1.jpg">
  </div>
</ion-card>

<ion-card>
  <div class="ion-padding">
    <ion-text color="dark">
      <h6>2) Master Fee Payment Agreement (MFPA):</h6>
    </ion-text>
    <div style="text-align: justify;">This is a document usually embedded in the contract, signed by the buyer and the seller, guaranteeing the payment of commission to all the parties involved in the deal. Since the buyer pays all the parties from the discounted price, he is the party required to sign and seal the document. It is always a good practice to have this document in the contract as an integral part or as an addendum.</div>
    <img src="assets/comm2.jpg">
  </div>
</ion-card>

<ion-card>
  <div class="ion-padding">
    <ion-text color="dark">
      <h6>GENERAL TERMS:</h6>
      <h6>Table Talk Meeting (TTM):</h6>
    </ion-text>
    <div style="text-align: justify;">A table talk meeting “TTM” is a meeting held between the buyer and the seller or their mandates to negotiate and come to a final mutual agreement to complete and sign a contract. TTM could also be held after a contract has been signed. At the TTM, buyers and sellers discuss and agree on areas in the contract that has plagued its execution. It is also a forum for the players to meet and know themselves.</div>
    <img src="assets/comm3.jpg">
  </div>
</ion-card>
<ion-card>

  <div class="ion-padding">
    <ion-text color="dark">
      <h6>Any Safe World Port (ASWP):</h6>
    </ion-text>
    <div style="text-align: justify;">Any Safe World Port: This stands for Any Safe World Port. This is usually associated with a CIF transaction where the seller and the buyer mutually agreed to deliver the cargo at a safe place (port).</div>
    <img src="assets/comm4.jpg">
  </div>
</ion-card>

<ion-card>

  <div class="ion-padding">
    <ion-text color="dark">
      <h6>Ready Willing and Able (RWA):</h6>
    </ion-text>
    <div style="text-align: justify;">RWA means Ready, Willing, and Able to transact an Oil Deal. The seller and buyer must both express their readiness, willingness and ability to hatch and conclude a deal as specified in the (SPA Procedure) contract.</div>
    <img src="assets/comm5.jpg">
  </div>
</ion-card>

<ion-card>

  <div class="ion-padding">
    <ion-text color="dark">
      <h6>Due Diligence (DD):</h6>
    </ion-text>
    <div style="text-align: justify;">Due Diligence: Due Diligence is the process by which both the buyer and the seller conduct a fair investigation on each other’s ability to deliver and perform. This may include reviewing each other’s financial background and business records, including business ethics.</div>
    <img src="assets/comm6.jpg">
  </div>
</ion-card>

<ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
  <img src="assets/purchase.png">
  <ion-text color="dark">
    <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
  </ion-text>
</ion-card>

  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
