<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Diesel D2</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <div class="ion-padding">

  <ion-text color="dark">
    <h5 class="ion-text-center">D2 DIESEL GAS OIL</h5>
  </ion-text>

    <p style="text-align: justify;">
      D2 is a refinery abbreviation for Gasoil. It is the second distillate from the crude oil, and can be used without
       reformers and additives. So, the first engines used D2 as fuel – before petrol cars as we know them today was 
       invented. That is because the engine invented by a German called Diesel, requires no spark plugs. The diesel
        engine will ignite and combust when the pressure increases so that the heated “plug” makes it explode. 
        Here we get the name “Diesel” – since the same principles are used in diesel engines today.
    </p>

    <p style="text-align: justify;">However, automotive diesel that you fill has additives that the refinery will 
      add to make the engine more efficient and also easier to start in the winter. Diesel changes “flash point” in
       the winter. It also has additives to absorb water that condense. If you use summer diesel in the winter, 
       you will get better mileage, but your fuel pipes may freeze and can also burst, and the wax makes the diesel
        flow thicker.</p>
  

  <p style="text-align: justify;">The principal difference between GASOIL and D2 is the content of sulphur. 
    Just 10 years ago, the US EPA introduced a limit of 4% sulphur in the GASOIL, whereas Europe and the rest 
    of the world followed later. As in most other cases, when you first have to remove the sulphur, it was 
    soon discovered ways of doing this more efficient. Then it was discovered that the sulphur, as sulphuric
     acid, could be traded with a good profit – which now is the motivator for extracting as much as possible.
      So “Low sulphur Gasoil” is no longer 4 percent – but below 0.2 percent. Then we have a new, “Ultra Low Sulphur”
     at 0.02% at the most, and the limit here is (a) that mass spectographs requires extensive calibration to measure
      below 1000ppm, and (b) sulphur has a way to form clogs – the molecules binds to free hydrogen molecules and form
       a cluster of molecules that will break if “cracked” by the refinery, but as explained above, D2 is a distillate
        and has not been “cracked”.</p>
      </div>
      </ion-card>

      <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
        <img src="assets/purchase.png">
        <ion-text color="dark">
          <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
        </ion-text>
      </ion-card>
      
      <ion-footer >
        <ion-toolbar color="primary">
          <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
        </ion-toolbar>
      </ion-footer>
</ion-content>
