<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
 </ion-buttons>
 <ion-title class="ion-text-center">Petcoke</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <div class="ion-padding">

  <ion-text color="dark">
    <h5 class="ion-text-center">Petroleum Coke (Petcoke)</h5>
  </ion-text>
  <p style="text-align: justify;">Petroleum Coke, abbreviated Coke or Petcoke, is a final carbon-rich solid material that derives from oil refining, and is one type of the group of fuels referred to as cokes. Petcoke is the coke that, in particular, derives from a final cracking process–a thermo-based chemical engineering process that splits long chain hydrocarbons of petroleum into shorter chains—that takes place in units termed coker units. (Other types of coke are derived from coal).</p>
  <p style="text-align: justify;">Stated succinctly, coke is the “carbonization product of high-boiling hydrocarbon fractions obtained in petroleum processing (heavy residues).” Petcoke is also produced in the production of synthetic crude oil, or Syncrude from bitumen extracted from oil sands.</p>
  <p style="text-align: justify;">In petroleum coker units, residual oils from other distillation processes used in petroleum refining are treated at a high temperature and pressure leaving the petcoke after driving off gases and volatiles, and separating off remaining light and heavy oils. These processes are termed “coking processes”, and most typically employ chemical engineering plant operations for the specific process of delayed coking.</p>
  <p style="text-align: justify;">This coke can either be fuel grade (High in sulfur and metals) or anode grade (Low in sulfur and metals). The raw coke directly out of the coker is often referred to as “Green Coke”. In this context, “Green” means unprocessed. The further processing of green coke by calcining in a rotary kiln removes residual volatile hydrocarbons from the coke. The calcined petroleum coke can be further processed in an anode baking oven in order to produce anode coke of the desired shape and physical properties. The anodes are mainly used in the aluminum and steel industry.</p>
  <p style="text-align: justify;">Petcoke is over 90 percent carbon and emits 5 to 10 percent more carbon dioxide (CO2) than coal on a per-unit-of-energy basis when it is burned. As petcoke has a higher energy content, petcoke emits between 30 and 80 percent more CO2 than coal per unit of weight. The difference between coal and coke in CO2 production per unit of energy produced depends upon the moisture in the coal, which increases the CO2 per unit of energy – heat combustion) and on the volatile hydrocarbons in coal and coke, which decrease the CO2 per unit of energy.</p>
  <p>Types of Petroleum Coke</p>
  <p style="text-align: justify;">There are at least four basic types of petroleum coke, namely, “Needle Coke”, “Honeycomb Coke”, “Sponge Coke” and “Shot Coke”. Different types of petroleum coke have different micro structures due to differences in operating variables and nature of feedstock. Significant differences are also to be observed in the properties of the different types of coke, particularly ash and volatile matter contents.</p>
  <p style="text-align: justify;">Needle coke, also called acicular coke, is a highly crystalline petroleum coke used in the production of electrodes for the steel and aluminum industries and is particularly valuable because the electrodes must be replaced regularly. Needle coke is produced exclusively from either FCC decant oil or coal tar pitch.</p>
  <p style="text-align: justify;">Honeycomb coke is an intermediate coke, with ellipsoidal pores that are uniformly distributed. Compared to needle coke, honeycomb coke has a lower coefficient of thermal expansion and a lower electrical conductivity.</p>

  <div>Fuel–Grade Coke</div>
  <div>Calcined Petroleum Coke</div>
  <div>Desulfurization of Petcoke</div>
  </div>
  </ion-card>

  <ion-card [routerLink]="['/order']" routerLinkActive="router-link-active">
    <img src="assets/purchase.png">
    <ion-text color="dark">
      <div class="ion-text-center">If you are a serious buyer, you can certainly fill it easily Our Online Purchase Form</div>
    </ion-text>
  </ion-card>
  
  <ion-footer >
    <ion-toolbar color="primary">
      <div class="ion-text-center">Copyright © 2016 GNGROUP (M) SDN.BHD. | All Rights Reserved.</div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
